﻿
@using Microsoft.AspNet.Identity 

@if (Request.IsAuthenticated)
{
    {


        @Html.AntiForgeryToken()
        {

            <li class="pull-right"> @Html.ActionLink("SignOut", "Logout", "Users") </li>
            <li class="pull-right"> @Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Home") </li>
                }
            }
        }

        else
        {


            <li class="pull-right">@Html.ActionLink("SignUP" ,"Create","Users") </li>
            <li class="pull-right">@Html.ActionLink("SignIn" ,"SignIn","Users") </li>
        }



